[Unit]
Description=wallpaper

[Service]
ExecStart=/usr/bin/feh --no-fehbg --bg-scale --randomize /usr/share/backgrounds/personal_wallpaper/*

[Install]
WantedBy=multi-user.target
